name: Book

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Install mdbook
        uses: peaceiris/actions-mdbook@v1.1.14
        with:
          mdbook-version: "0.4.7"
      - name: Generate book from markdown
        run: |
          cd harlaw
          mdbook build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './harlaw/book/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
