name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  continuous_integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Update local toolchain
        run: |
          rustup toolchain install stable --profile minimal;
          rustup update;
          rustup component add clippy;

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run: |
          sudo apt-get update;
          sudo apt-get install -y \
            libasound2-dev \
            portaudio19-dev \
            build-essential \
            libpulse-dev \
            libdbus-1-dev \
            libudev-dev \
            ;

      - name: Toolchain info
        run: |
          cargo --version --verbose;
          rustc --version;
          cargo clippy --version;

      - name: Lint
        run: |
          cargo fmt -- --check;
          cargo clippy -- -D warnings;         

      - name: Test
        run: |
          cargo check;
          cargo test --all;

      - name: Build
        run: |
          cargo build --release;
